* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Exo;
  src: url(../../font/Exo2.0-Thin.otf); }

body {
  background-image: url(../../image/background.png);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.wrapper {
  width: 100%;
  height: calc(100vw / 1.97);
  max-height: 100vh; }
  .wrapper h1 {
    color: white;
    text-align: center;
    font-family: Exo;
    font-size: 3vw;
    font-weight: 100;
    margin-top: 2%;
    margin-bottom: -1%; }
  .wrapper .product-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    height: 85%;
    align-items: center; }
    .wrapper .product-wraper .product {
      position: relative;
      width: 26.4%;
      height: 87.5%; }
      .wrapper .product-wraper .product .cover {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border: 5px solid #1698d9;
        clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%);
        border-radius: 3%;
        position: relative;
        background-image: url(../../image/cat.png);
        background-repeat: no-repeat;
        background-size: cover; }
        .wrapper .product-wraper .product .cover::after {
          content: "";
          display: block;
          width: 20%;
          height: 50%;
          position: absolute;
          background: #1698d9;
          z-index: -10;
          transform: rotate(45deg);
          top: -19%;
          left: -20%; }
        .wrapper .product-wraper .product .cover .discription {
          width: 87%;
          height: 40%;
          position: absolute;
          right: 0;
          padding-left: 1.5%;
          padding-top: 6%; }
          .wrapper .product-wraper .product .cover .discription p {
            font-family: Trebuchet MS; }
          .wrapper .product-wraper .product .cover .discription .name {
            font-size: 1.4vw;
            letter-spacing: -0.5px; }
            .wrapper .product-wraper .product .cover .discription .name.leave {
              color: #d91667; }
          .wrapper .product-wraper .product .cover .discription .type {
            font-size: 4.2vw; }
          .wrapper .product-wraper .product .cover .discription .ingridient {
            font-size: 2.1vw;
            margin-bottom: 4%; }
          .wrapper .product-wraper .product .cover .discription .portions,
          .wrapper .product-wraper .product .cover .discription .gifts,
          .wrapper .product-wraper .product .cover .discription .big-deal {
            font-size: 1.2vw; }
          .wrapper .product-wraper .product .cover .discription .name,
          .wrapper .product-wraper .product .cover .discription .portions,
          .wrapper .product-wraper .product .cover .discription .gifts,
          .wrapper .product-wraper .product .cover .discription .big-deal {
            color: #666666; }
        .wrapper .product-wraper .product .cover .width {
          width: 26%;
          height: 17%;
          background-color: #1698d9;
          border-radius: 50%;
          position: absolute;
          bottom: 3%;
          right: 3.5%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .wrapper .product-wraper .product .cover .width p {
            font-size: 3.5vw;
            color: white;
            text-align: center;
            line-height: 0.6;
            font-family: Trebuchet MS;
            height: 50%;
            width: 60%; }
            .wrapper .product-wraper .product .cover .width p span {
              font-size: 2vw; }
          .wrapper .product-wraper .product .cover .width .two-digits {
            width: 75%; }
      .wrapper .product-wraper .product .phrase {
        cursor: default;
        color: white;
        text-align: center;
        font-family: Trebuchet MS;
        font-size: 1.1vw;
        position: absolute;
        bottom: -6%;
        width: auto;
        margin-left: 50%;
        transform: translate(-50%, 0%);
        white-space: nowrap; }
        .wrapper .product-wraper .product .phrase .buy {
          cursor: pointer;
          border-bottom: 1px dashed #1698d9; }
        .wrapper .product-wraper .product .phrase .buy,
        .wrapper .product-wraper .product .phrase .dot {
          color: #1698d9; }
        .wrapper .product-wraper .product .phrase.ended {
          color: #ffff66; }
        .wrapper .product-wraper .product .phrase.hidden {
          display: none; }
      .wrapper .product-wraper .product.select .cover {
        border: 5px solid #d91667; }
        .wrapper .product-wraper .product.select .cover::after {
          background: #d91667; }
      .wrapper .product-wraper .product.select .width {
        background-color: #d91667; }
      .wrapper .product-wraper .product.not-available .discription {
        opacity: 0.2; }
      .wrapper .product-wraper .product.not-available .cover {
        border: 5px solid #b3b3b3;
        background: linear-gradient(rgba(179, 179, 179, 0.377), rgba(179, 179, 179, 0.377)), url(../../image/cat.png);
        background-size: cover; }
        .wrapper .product-wraper .product.not-available .cover::after {
          background: #b3b3b3; }
      .wrapper .product-wraper .product.not-available .width {
        background-color: #c5c5c5; }
    .wrapper .product-wraper .product:not(.select):not(.not-available):hover .cover {
      border: 5px solid #2ea8e6; }
      .wrapper .product-wraper .product:not(.select):not(.not-available):hover .cover::after {
        background: #2ea8e6; }
    .wrapper .product-wraper .product:not(.select):not(.not-available):hover .width {
      background-color: #2ea8e6; }

@media (max-width: 1024px) and (orientation: portrait) {
  .wrapper {
    height: 90%; }
    .wrapper h1 {
      font-size: 4vw;
      margin: 0; }
    .wrapper .product-wraper {
      flex-wrap: wrap; }
      .wrapper .product-wraper .product {
        width: 34%;
        height: calc(34.5vw * 1.5);
        margin: 3% 0 4%; }
        .wrapper .product-wraper .product .cover {
          border: 4px solid #1698d9;
          clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%); }
          .wrapper .product-wraper .product .cover .discription {
            padding-top: 4%; }
            .wrapper .product-wraper .product .cover .discription .ingridient {
              font-size: 2.7vw; }
            .wrapper .product-wraper .product .cover .discription .portions,
            .wrapper .product-wraper .product .cover .discription .gifts,
            .wrapper .product-wraper .product .cover .discription .big-deal,
            .wrapper .product-wraper .product .cover .discription .name {
              font-size: 2vw; }
          .wrapper .product-wraper .product .cover .width p {
            font-size: 4vw; }
        .wrapper .product-wraper .product .phrase {
          font-size: 2vw;
          transform: translate(-50%, 45%);
          white-space: pre-wrap;
          width: 100%; }
        .wrapper .product-wraper .product.select .cover {
          border: 4px solid #d91667; }
        .wrapper .product-wraper .product.not-available .cover {
          border: 4px solid #b3b3b3; }
      .wrapper .product-wraper .product:not(.select):not(.not-available):hover .cover {
        border: 4px solid #2ea8e6; } }

@media (max-width: 425px) {
  .wrapper {
    width: 100%;
    height: 100%; }
    .wrapper h1 {
      margin-top: 2%;
      font-size: 7vw; }
    .wrapper .product-wraper {
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      margin-top: 4%; }
      .wrapper .product-wraper .product {
        width: 60%;
        height: 94vw;
        margin-bottom: 15%; }
        .wrapper .product-wraper .product .cover {
          border: 3px solid #1698d9;
          clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 9%); }
          .wrapper .product-wraper .product .cover .discription {
            padding-top: 4%; }
            .wrapper .product-wraper .product .cover .discription p {
              font-family: Trebuchet MS; }
            .wrapper .product-wraper .product .cover .discription .name {
              font-size: 3.5vw; }
            .wrapper .product-wraper .product .cover .discription .type {
              font-size: 10vw; }
            .wrapper .product-wraper .product .cover .discription .ingridient {
              font-size: 4.5vw;
              margin-bottom: 2%; }
            .wrapper .product-wraper .product .cover .discription .portions,
            .wrapper .product-wraper .product .cover .discription .gifts,
            .wrapper .product-wraper .product .cover .discription .big-deal {
              font-size: 3.5vw; }
            .wrapper .product-wraper .product .cover .discription .name,
            .wrapper .product-wraper .product .cover .discription .portions,
            .wrapper .product-wraper .product .cover .discription .gifts,
            .wrapper .product-wraper .product .cover .discription .big-deal {
              color: #666666; }
          .wrapper .product-wraper .product .cover .width p {
            font-size: 6vw;
            line-height: 0.8; }
            .wrapper .product-wraper .product .cover .width p span {
              font-size: 5vw; }
        .wrapper .product-wraper .product .phrase {
          font-size: 3.5vw;
          width: 65vw;
          white-space: pre-wrap;
          transform: translate(-50%, 40%); }
        .wrapper .product-wraper .product.select .cover {
          border: 3px solid #d91667; }
        .wrapper .product-wraper .product.not-available .cover {
          border: 3px solid #b3b3b3; }
      .wrapper .product-wraper .product:not(.select):not(.not-available):hover .cover {
        border: 3px solid #2ea8e6; } }

@media (max-height: 425px) {
  .wrapper {
    width: 100%;
    height: 90%; }
    .wrapper h1 {
      font-size: 3.5vw;
      margin: 0; }
    .wrapper .product-wraper {
      margin-top: 0; }
      .wrapper .product-wraper .product {
        position: relative;
        width: 48vh; }
        .wrapper .product-wraper .product .cover {
          border: 3px solid #1698d9;
          clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%, 0 9%); }
          .wrapper .product-wraper .product .cover .discription {
            padding-top: 4%; }
            .wrapper .product-wraper .product .cover .discription .name {
              font-size: 3.2vh; }
            .wrapper .product-wraper .product .cover .discription .type {
              font-size: 6vh; }
            .wrapper .product-wraper .product .cover .discription .ingridient {
              font-size: 3.5vh; }
            .wrapper .product-wraper .product .cover .discription .portions,
            .wrapper .product-wraper .product .cover .discription .gifts,
            .wrapper .product-wraper .product .cover .discription .big-deal {
              font-size: 2.8vh; }
          .wrapper .product-wraper .product .cover .width p {
            font-size: 6vh; }
            .wrapper .product-wraper .product .cover .width p span {
              font-size: 3vh; }
        .wrapper .product-wraper .product .phrase {
          font-size: 2.5vh;
          bottom: -8%;
          transform: translate(-50%, 40%);
          white-space: pre-wrap;
          width: 100%; }
          .wrapper .product-wraper .product .phrase .buy {
            cursor: pointer;
            border-bottom: 1px dashed #1698d9; }
        .wrapper .product-wraper .product.select .cover {
          border: 3px solid #d91667; }
        .wrapper .product-wraper .product.not-available .cover {
          border: 3px solid #b3b3b3; }
      .wrapper .product-wraper .product:not(.select):not(.not-available):hover .cover {
        border: 3px solid #2ea8e6; } }
